<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="site.css" rel="stylesheet" type="text/css" />
<title>%TITLE% - Interworld Nexus</title>
</head>
<body>
<div id='content'>
<div id='header'>
    <h1><a href='index.html'>Interworld Nexus</a></h1>

    <a href='index.html'>Home</a> -
    <a href='by_alpha.html'>Alphabetical Index</a> -
    <a href='by_category.html'>Category Index</a> -
    <a href='by_world.html'>World Index</a> -
    <a href='glossary.html'>Glossary</a>

    <div id='world_nav' class='navlist'>%WORLDNAV%</div>
    <div id='cat_nav' class='navlist'>%CATNAV%</div>
</div>
